
.navbar{
  background-color:#5d5351;
    margin-bottom: 40px;
    
}

.navbar-brand{
    margin-left: 67px;
}


.infoCard{
    margin-top: 40px;
    margin-bottom: 90px;   
}

.card-title.price{
    margin-top: -66px;
    margin-bottom: 30px;
    margin-right: 10px;
  
}



.priceAndBuyBtn{
    text-align: end;
   
       
}


.card{
    background-color:antiquewhite;
    box-shadow: 5px 5px 5px lightslategrey;
}



